/**
 * CuForms - Custom Form Element Plugin
 */
.cu-forms-custom-over { position:absolute; }
.cu-forms-hidden { display:none !important;}

.cu-forms-custom-parent,
.cu-forms-custom-element { position:relative; }

/* Initial custom form element dimensions */
select.cu-forms-custom-element { border:none; padding:0; height:21px; }
input.cu-forms-custom-element { width:13px; height:13px; padding:0; border:none; }

/* Radio buttons */
.cu-forms-radio.cu-forms-custom-over { background:url(../images/cu-forms.png) -16px 0 no-repeat; }
.cu-forms-radio.cu-forms-custom-over.cu-forms-hover { background-position:-16px -16px; }
.cu-forms-radio.cu-forms-custom-over.cu-forms-active { background-position:-16px -32px; }
.cu-forms-radio.cu-forms-custom-over.cu-forms-active.cu-forms-hover { background-position:-16px -48px; }

/* No background changes when radio button is disabled */
.cu-forms-radio.cu-forms-custom-over.cu-forms-disabled { background-position:-16px 0 !important; }
.cu-forms-radio.cu-forms-custom-over.cu-forms-disabled.cu-forms-active { background-position:-16px -32px !important; }

/* Checkboxes */
.cu-forms-checkbox.cu-forms-custom-over { background:url(../images/cu-forms.png) 0 0 no-repeat; }
.cu-forms-checkbox.cu-forms-custom-over.cu-forms-hover { background-position:0 -16px; }
.cu-forms-checkbox.cu-forms-custom-over.cu-forms-active { background-position:0 -32px; }
.cu-forms-checkbox.cu-forms-custom-over.cu-forms-active.cu-forms-hover { background-position:0 -48px; }

/*No background changes when checkbox is disabled*/
.cu-forms-checkbox.cu-forms-custom-over.cu-forms-disabled { background-position:0 0 !important; }
.cu-forms-checkbox.cu-forms-custom-over.cu-forms-disabled.cu-forms-active { background-position:0 -32px !important; }

/* Selects */
.cu-forms-select-outer { overflow:hidden; background:url(../images/cu-forms.png) 100% -112px no-repeat; padding-right:20px; }
.cu-forms-hover .cu-forms-select-outer { background-position:100% -136px; }

.cu-forms-select-inner { background:url(../images/cu-forms.png) 0 -64px no-repeat; color:#000; text-indent:5px; line-height:21px; text-align:left; overflow:hidden; }
.cu-forms-hover .cu-forms-select-inner { background-position:0 -88px; width:100%; }

/*No background changes when select is disabled*/
.cu-forms-disabled .cu-forms-select-outer { background-position:100% -136px !important; }
.cu-forms-disabled .cu-forms-select-inner { background-position:0 -88px !important; }